:root{
/*font family variables*/
--sofia: "Sofia", sans-serif;
--arial: Arial;
--tang: "Tangerine", serif;

/*linear gradient*/
--bgGradient: linear-gradient(132deg, rgb(0,0,0), #8d8686);

/*color groups*/
--yellowish: #a0e11f;
--maroon: rgba(230,16,16,0.85);
--blackish: rgba(0,0,0,0.71);
--verdigis: #50a2a7;
--richBlack: #131620;

}

body{
box-sizing: border-box;
max-width: 100%;
overflow-x: hidden; 
scroll-behavior: smooth;
background: var(--richBlack);
}

*{
	text-align: justify-all;
}

#navbar img{
	height: 6em;
	width: 6em;
	border: .1em solid var(--maroon);
}

#shop{
	margin-top: 6em;
}

#shop .container{
	background: rgba(255, 255, 255, .4);
}

#map{
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 568px){
	#navbar img:last-child{
	height: 2.6em;
	width: 2.6em;
	border: none;
	}

	#shop{
		margin-top: 1em;
}

#map{
	height: 19em;
}

footer img{
	height: 10em;
	width: 10em;
}

}